@model List<IMBD.Models.Movies>
@using IMBD.Models

@{
    ViewBag.Title = "Movies List";
}

<h2>Movies List</h2>
<table border="1">
    <tr>
        <th><h1><b>Movie name</b></h1></th>
        <th><h1><b>Year Of Release</b></h1></th>
        <th><h1><b>Plot</b></h1></th>
        <th><h1><b>Producer</b></h1></th>
        <th><h1><b>Actors</b></h1></th>
    </tr>

    @foreach (Movies movie in @Model)
    {

        <tr>
            <td>@Html.ActionLink(movie.Name, "view", new { id = movie.Id })</td>
            <td>@movie.ReleaseDate.Month/@movie.ReleaseDate.Day/@movie.ReleaseDate.Year</td>
            <td>@movie.Plot</td>
             <td>@movie.producer.Name</td>
 
        
            <td>tth</td>
        </tr>
    }

</table>