@model IMBD.Models.Movies

@{
    ViewBag.Title = "ViewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMovie</h2>

<h2>@Model.Name</h2>
<h2>@Model.producer.Name</h2>
@if (Model.Actor_movie.Count == 0)
{
    <text>No one has Acted in this movie</text>
}
else
{
    <ul>
        @foreach (var actor in Model.Actor_movie)
        {
            <li>@actor.Id</li>
        }

    </ul>
}


