@model List<IMBD.Models.Producers>
@using IMBD.Models

@{
    ViewBag.Title = "Producers List";
}

<h2>Producers List</h2>


<div class="w3-padding w3-white notranslate">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Producer name</th>
                <th>Bio</th>
                <th>Date Of Birth</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Producers producer in @Model)
    {

        <tr>
            <td>@Html.ActionLink(producer.Name, "view", new { id = producer.Id })</td>
            <td>@producer.Bio</td>
            <td>@producer.Dob.Day/@producer.Dob.Month/@producer.Dob.Year</td>
            <td>@producer.Sex</td>
        </tr>
}
        </tbody>
    </table>
</div>
